<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suntek.ibmsapp">

    <!--多屏幕机制-->
    <!--android:anyDensity="true"     是否支持多种不同密度-->
    <!--android:largeScreens="true"   是否支持大屏-->
    <!--android:normalScreens="true"  是否支持中屏-->
    <!--android:smallScreens="true"   是否支持小屏-->
    <!--android:resizeable  指明应用程序是否根据不同的屏幕尺寸改变大小。 默认值是 true-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true"/>

    <!--网络请求权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--获取手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".app.IBMSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--欢迎界面-->
        <activity
            android:name=".page.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainViewTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--登录界面-->
        <activity
            android:name=".page.login.UserLoginActivity"
            android:screenOrientation="portrait"/>

        <!--主界面-->
        <activity
            android:name=".page.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainViewTheme"/>

        <!--视频播放界面-->
        <activity
            android:name=".page.camera.CameraPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!--区域选择-->
        <activity
            android:name=".page.camera.CameraChooseActivity"
            android:screenOrientation="portrait"/>

        <!--摄像机搜索-->
        <activity
            android:name=".page.camera.CameraSearchActivity"
            android:screenOrientation="portrait"/>

        <!--关于详情-->
        <activity
            android:name=".page.about.AboutActivity"
            android:screenOrientation="portrait"/>

        <!--摄像机信息-->
        <activity
            android:name=".page.camera.CameraInfoActivity"
            android:screenOrientation="portrait"/>

        <!--录像下载-->
        <activity
            android:name=".page.camera.CameraDownloadActivity"
            android:screenOrientation="portrait"/>

        <!--日期选择界面，暂不用到-->
        <activity
            android:name=".page.camera.CameraDateActivity"
            android:screenOrientation="portrait"/>

        <!--相册详情-->
        <activity
            android:name=".page.photo.PhotoDetailActivity"
            android:screenOrientation="portrait"/>

        <!--相册列表-->
        <activity
            android:name=".page.photo.PhotoListActivity"
            android:screenOrientation="portrait"/>

        <!--海康sdk播放-->
        <activity
            android:name=".page.camera.CameraPlayHKActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!--海康历史视频播放-->
        <activity
            android:name=".page.camera.CameraHKHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".page.video.VideoDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a02606b8f4a9d0784000264">
        </meta-data>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>

</manifest>